/* disable error overlay screen */
/* https://stackoverflow.com/questions/46589819/disable-error-overlay-in-development-mode */
iframe {
    display: none;
}

.text-bold {
    font-weight: bold;
}

.text-italic {
    font-style: italic;
}

.text-underline {
    text-decoration: underline;
}

.text-code {
    background-color: #f0f2f5;
    padding: 1px 0.25rem;
    font-family: Menlo, Consolas, Monaco, monospace;
    font-size: 94%;
}

.text-highlight {
    margin: 0 5px;
}

.text-strikethrough {
    text-decoration: line-through;
}

.text-subscript {
    vertical-align: sub;
}

.text-superscript {
    vertical-align: super;
}

.banner {
    border-left: 4px coral solid;
    background-color: lightskyblue;
    border-radius: 4px;
    padding: 8px 4px;
}

.root {
    padding-left: 23px;
}

.root:focus-visible {
    outline: none;
}

p {
    margin: 0;
}
