#root {
    overflow: hidden;
    min-height: 100vh;
    background-color: #f3f3f3;
}

.text-bold {
    font-weight: bold;
}

.text-italic {
    font-style: italic;
}

.text-underline {
    text-decoration: underline;
}

.text-code {
    background-color: #f0f2f5;
    padding: 1px 0.25rem;
    font-family: Menlo, Consolas, Monaco, monospace;
    font-size: 94%;
}

.text-highlight {
    margin: 0 5px;
}

.text-strikethrough {
    text-decoration: line-through;
}

.text-subscript {
    vertical-align: sub;
}

.text-superscript {
    vertical-align: super;
}

.banner {
    border-left: 4px coral solid;
    background-color: lightskyblue;
    border-radius: 4px;
    padding: 8px 4px;
}

.root {
}

.root:focus-visible {
    outline: none;
}

.markdown-code {
    font-size: 12px;
    line-height: 1.5;
    background-color: #dedede;
    display: block;
}

.divider {
    /*margin-top: 44px;*/
    /*margin-bottom: 34px;*/
}

p {
    margin: 0;
}

.embedBlock {
    user-select: none;
}

.embedBlock_focus {
    outline: 2px solid rgb(60, 132, 244);
    border-radius: 1px;
    background: #86accd;
}
